[submodule "zsh/.zsh/antigen"]
	path = zsh/.zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tmux-yank"]
	path = tmux/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux/.tmux/plugins/tmux-copycat"]
	path = tmux/.tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/.tmux/plugins/tmux-continuum"]
	path = tmux/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux/.tmux/plugins/tmux-pain-control"]
	path = tmux/.tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control
	ignore = dirty
[submodule "tmux/.tmux/plugins/tmux-open"]
	path = tmux/.tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "tmux/.tmux/plugins/tmux-themepack"]
	path = tmux/.tmux/plugins/tmux-themepack
	url = https://github.com/lionell/tmux-themepack
[submodule "tmux/.tmux/plugins/tmux-online-status"]
	path = tmux/.tmux/plugins/tmux-online-status
	url = https://github.com/tmux-plugins/tmux-online-status
	ignore = dirty
[submodule "tmux/.tmux/plugins/tmux-prefix-highlight"]
	path = tmux/.tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight
[submodule "xresources/.Xresources.d/solarized"]
	path = xresources/.Xresources.d/solarized
	url = https://github.com/solarized/xresources
