!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                false
Xft.hintstyle:              hintslight

#include ".Xresources.d/solarized/Xresources.dark"
#include ".Xresources.d/rofi/Xresources"
